*{margin: 0; padding: 0; box-sizing: border-box;}
html, body {
    font-family: 'Press Start 2P';
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    }
body {overflow: hidden;}
#left {
    background: linear-gradient(-45deg, #4db8ff 50%, #4d71ef);
    width: 100%;
    }
#right {
    background: #EAD590;
    border-left: 3px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lily {
    width: 13%;
    height: auto;
    position: absolute;
    z-index: 2;
}
#containerzh {
    position: relative;
    width: 100%;
    height: 100%;
}
#zhaba {
    width: 65px;
    height: 60px;
    z-index: 3;
    position: relative;
    top: 82%;
    left: 45%;
}
#containerlr {
    display: flex;
    width: 100%;
    height: 100%;
    position: static;
    background: white;
    z-index: 20;
}